.popup {
    display: none;
    position: fixed;
    top: 50%;
    right: -10%;
    transform: translate(-50%, -50%);
    background-color: #83c7ff;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1;
}
#outline{
    height: 100vh;
    width: 40%;
    background: white;
}
.blue-box {
    background-color: #b3d9ff;
    padding: 20px;
    margin-top: 20px;
}

button{
    background-color: #01447a;
    padding: 8px 12px;
    color: white;
    border-radius: 30px;
    border: 1px solid #0c5998;
    margin-top:30px;
}
/* ----------- */
#offcanvasRight{
width: 35%;
}